# Ignore Terraform variable files
terraform.tfvars

# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfstate.*.backup.*
*.tfstate.*.*

# Ignore local Terraform directories
.terraform/

# Ignore the zip file as well #todonode_modules/
node_modules/
